table, th, td {
  border-bottom: 1px solid red;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

th{
  background: #fa0200;
}

.inner-width fieldset {
  padding: 10px;
  height: 100%;
}

.radio-table-filter input {
  cursor: pointer;
}

fieldset input[type = "text"] {
  max-width: 120px;
  outline: none;
  border-radius: 5px;
  background: #f1f1f1;
  color: #fa0200;
  border: none;
  height: 20px;
  text-align: center;
}

.new-item-form {
  display: grid;
  margin-top: 15px;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

legend {
  display: flex;
}

legend p{
  color: #fa0200;
  padding-left: 5px;
}

.field1 { grid-area: 1 / 1 / 3 / 2; }
.field2 { grid-area: 1 / 2 / 2 / 3; }
.field3 { grid-area: 2 / 2 / 3 / 3; }
.field4 { grid-area: 1 / 3 / 2 / 4; }
.field5 { grid-area: 2 / 3 / 3 / 4; }
.field6 { grid-area: 1 / 4 / 2 / 5; }
.field7 { grid-area: 2 / 4 / 3 / 5; }
.field8 { grid-area: 3 / 1 / 3 / 2; }
.field9 { grid-area: 3 / 2 / 3 / 3; }

.field4 fieldset > *{
  margin: 5px;
}

input[type = "text"]:disabled {
  opacity: 0.5;
}

#new-table-div {
  background: #fa0200;
  padding: 3px;
  border-radius: 10px;
}

#new-item-submit {
  grid-area: 4 / 4 / 4 /5;
  position: inherit;
}

#input-table-name {
  margin-top: 5px;
  cursor: not-allowed;
}

#unit-input {
  cursor: not-allowed;
  margin-bottom: 5px;
}

#localid-input {
  cursor: not-allowed;
}
