.container{
  margin-top: 50px;
  width: 100%;
  max-width: 1200px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #f1f1f1;
  text-align: center;
}

.container h1{
  position: absolute;
  width: 100vw;
  max-width: 1200px;
  top: -7vh;
  background: rgba(12,12,12,0.6);
  padding: 5px;
}

.container img{
  width: 100%;
  max-height: 85vh;
  background: #f1f1f1b0;
}

.hotspot{
  width: 20px;
  height: 20px;
  background-color: #fa0200;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

@keyframes wave{
    from{box-shadow: 0 0 0 0 #fa0200;}
    to{box-shadow: 0 0 0 5px #fa0200b0;}
}

.hotspot::before{
  content: attr(text);
  width: max-content;
  position: absolute;
  background-color: #222222dd;
  color: #f1f1f1;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 3px;
  display: none;
}

.hotspot::after{
    content: "";
    border-color: transparent transparent #222222dd;
    border-width: 0 8px 6px;
    border-style: solid;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.hotspot:hover::before,
.hotspot:hover::after{
  display: block;
}

.hotspot:hover{
  animation: wave 1s infinite;
}

.drukarnia{
  left: 45%;
  bottom: 75%;
}

.rowerownia{
  left: 58%;
  bottom: 12%;
}

.szafa{
  left: 90%;
  bottom: 55%;
}

.ciapciak{
  left: 86%;
  bottom: 86%;
}

.warsztatmech{
  left: 83%;
  bottom: 37%;
}

.warsztatel{
  left: 74%;
  bottom: 37%;
}

.warsztatela1{
  left: 15%;
  bottom: 75%;
}

.warsztatela2{
  left: 15%;
  bottom: 55%;
}

.warsztatela3{
  left: 15%;
  bottom: 37%;
}

.warsztatela4{
  left: 15%;
  bottom: 15%;
}

.warsztatelb1{
  left: 40%;
  bottom: 75%;
}

.warsztatelb2{
  left: 40%;
  bottom: 55%;
}

.warsztatelb3{
  left: 40%;
  bottom: 35%;
}

.warsztatelb4{
  left: 40%;
  bottom: 15%;
}

.warsztatelc1{
  left: 65%;
  bottom: 75%;
}

.warsztatelc2{
  left: 65%;
  bottom: 55%;
}

.warsztatelc3{
  left: 65%;
  bottom: 35%;
}

.warsztatelc4{
  left: 65%;
  bottom: 15%;
}

.warsztateld1{
  left: 85%;
  bottom: 75%;
}

.warsztateld2{
  left: 85%;
  bottom: 55%;
}

.warsztateld3{
  left: 85%;
  bottom: 35%;
}
.warsztateld4{
  left: 85%;
  bottom: 15%;
}

.warsztatmecha1{
  left: 15%;
  bottom: 75%;
}

.warsztatmecha2{
  left: 15%;
  bottom: 55%;
}

.warsztatmecha3{
  left: 15%;
  bottom: 30%;
}

.warsztatmecha4{
  left: 15%;
  bottom: 10%;
}

.warsztatmechb1{
  left: 40%;
  bottom: 82%;
}

.warsztatmechb2{
  left: 40%;
  bottom: 60%;
}

.warsztatmechb3{
  left: 40%;
  bottom: 35%;
}

.warsztatmechb4{
  left: 40%;
  bottom: 10%;
}

.warsztatmechc1{
  left: 63%;
  bottom: 83%;
}

.warsztatmechc2{
  left: 63%;
  bottom: 62%;
}

.warsztatmechc3{
  left: 63%;
  bottom: 35%;
}

.warsztatmechc4{
  left: 63%;
  bottom: 10%;
}

.warsztatmechd1{
  left: 85%;
  bottom: 82%;
}

.warsztatmechd2{
  left: 85%;
  bottom: 60%;
}

.warsztatmechd3{
  left: 85%;
  bottom: 35%;
}

.warsztatmechd4{
  left: 85%;
  bottom: 10%;
}


#new-loc {
  position: absolute;
  margin: 10px;
  left: 90px;
}
