body{
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  text-align: center;
  flex-direction: column;
}

h1{
	text-transform: uppercase;
}

.box{
  justify-content: center;
  align-items: center;
}

.login-window{
  margin-top: 20px;
  width: 500px;
  height: 500px;
  padding: 30px 60px;
  justify-content: space-evenly;
  align-items: center;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  background: rgba(12,12,12,0.6);
}

.login-window h1{
  text-transform: uppercase;
}

.box{
text-align: center;
z-index: 1;
}

.textbox{
  display: flex;
  height: 50px;
  height: 100%;
  position: relative;
}

.textbox input{
  outline: none;
  margin: 10px auto;
  text-align: left;
  background: #fff;
  border: none;
  width: 100%;
  padding: 5px;
  color: #fa0200;
  border-radius: 0px 10px 10px 0px;
}

.textbox input::placeholder{
  color: #676767;
}

.box input[type = "submit"]{
  background: #fa0200;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 0;
  padding: 14px 40px;
  outline: none;
  color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
}

.header-holder img{
    max-width: 90%;
    padding-top: 10px;
}

.icon-div {
    background: #fa0200;
    padding: 10px 12px 10px 10px;
    margin: 10px 0px;
    border-radius: 10px 0px 0px 10px;
}

@media screen and (max-width: 600px){
  .LoginWindow{
    width: 90%;
    height: 350px;
  }

  .site{
    display: flex;
    justify-content: center;
  }
}
