.mdiv {
  margin-top: 20px;
}

.mdiv h1 {
  text-align: center;
}

.rafe-form {
  margin-top: 15px;
  max-width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  margin-top: 15px;
  outline: none;
  border: none;
  padding: 5px;
  color: #fa0200;
  border-radius: 10px;
}

input[type = "submit"] {
  background: #fa0200;
  color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
}

input[type = "submit"]:hover {
  background: #f1f1f1;
  color: #fa0200;
}
