#home {
  padding: 5%;
  padding-bottom: 7%;
}

#home .inner-width {
  max-width: 960px;
}

.solid-results-div {
  width: 100%;
  padding: 10px 25px;
  overflow: auto;
}

.result-tab {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

table, th, td {
  border-bottom: 1px solid red;
  border-collapse: collapse;
}

th {
  background: #fa0200;
  max-width: 200px;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
  position: sticky;
  top: -10px;
}

td {
  padding: 15px 0px 15px 0px;
}

.results-header,
.filter-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.filter-form{
  align-items: flex-end;
}

.filter-button {
  margin: 0px 8px;
}

.filters {
  display: none;
  overflow: auto;
}

fieldset {
  border: solid 1px #fa0200;
  padding: 5px;
  margin-right: 10px;
}

fieldset input[type=text] {
  margin: 5px 0px;
}

.filter-sets {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.filterInput {
  outline: none;
  border: none;
  color: #fa0200;
  border-radius: 5px;
  opacity: 0.8;
  text-indent: 10px;
  height: 20px;
}

.filterInput:focus {
  outline: solid #fa0200 1px;
}

.filterInput::placeholder,
.filterInput::-ms-input-placeholder{
  color: #fa0200;
}

div.limiting-filters{
  display: flex;
  flex-direction: column;
}

.filter-buttons input{
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #fa0200;
  color: #f1f1f1;
  cursor: pointer;
  height: 40px;
  transition: all .2s ease-in-out;
}

.filter-buttons {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.sort-dropdown {
  outline: none;
  color: #f1f1f1;
  background: #fa0200;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.sort-dropdown * {
  background: #fa0200;
  color: #f1f1f1;
}


.arrow-up {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  color: #fa0200;
  margin-right: 10px;
  border: solid 2px;
  border-radius: 50%;
  width: 33px;
  text-align: center;
  transition: all .1s ease-in-out;
  cursor: pointer;
  display: none;
}

.arrow-up:hover {
  background: #fa0200;
  color: #f1f1f1;
  border: solid 2px #fa0200;
}

.add-element-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 25px;
}

.loc-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loc-info {
  display: flex;
}

.loc-name {
  padding-left: 5px;
  text-transform: uppercase;
  color: #fa0200;
}

#qr-button {
  position: absolute;
  left: 25px;
}

#clear-filters,
#delete-button,
#export-button {
  margin-bottom: 10px;
}

#clear-filters:hover,
#add-element-btn:hover,
#delete-button:hover,
#export-button:hover {
  background: #f1f1f1;
  color: #fa0200;
}

#sorting-icon {
  -webkit-transform: translateY(25%);
}

#add-element-btn {
  padding: 5px;
  border-radius: 10px;
  background: #fa0200;
  color: #f1f1f1;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

@media screen and (max-width: 960px){
    .solid-results-div {
      margin-bottom: 25px;
      font-size: 0.7em;
      padding: 10px 0px;
    }

    .arrow-up {
      bottom: 5%;
    }
}
