#home {
  padding: 5%;
  padding-bottom: 7%;
}

#home .inner-width {
  max-width: 960px;
}

.solid-results-div {
  width: 100%;
  padding: 10px 25px 10px 25px;
  overflow: auto;
}

.result-tab {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

table, th, td {
  border-bottom: 1px solid red;
  border-collapse: collapse;
}

th {
  background: #fa0200;
  padding: 10px 0px 10px 0px;
  position: sticky;
  top: -10px;
}

td {
  padding: 15px 0px 15px 0px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fa0200;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.results-header,
.filter-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.filter-form{
  align-items: flex-end;
}

.filter-button {
  margin: 0px 8px;
}

.filters {
  display: none;
}

fieldset {
  border: solid 1px #fa0200;
  padding: 5px;
  margin-right: 10px;
}

fieldset input[type=text] {
  margin: 5px 0px;
}

.filter-sets {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.filterInput {
  outline: none;
  border: none;
  color: #fa0200;
  border-radius: 5px;
  opacity: 0.8;
  text-indent: 10px;
  height: 20px;
}

.filterInput:focus {
  outline: solid #fa0200 1px;
}

.filterInput::placeholder,
.filterInput::-ms-input-placeholder{
  color: #fa0200;
}

div.limiting-filters{
  display: flex;
  flex-direction: column;
}

.filter-buttons input{
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #fa0200;
  color: #f1f1f1;
  cursor: pointer;
  height: 40px;
  transition: all .2s ease-in-out;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
}

#clear-filters {
  margin-bottom: 10px;
}

#clear-filters:hover {
  background: #f1f1f1;
  color: #fa0200;
  transform: scale(1.1);
}

@media screen and (max-width: 960px){
    .solid-results-div {
      margin-bottom: 25px;
      font-size: 0.7em;
    }
}
