table, th, td {
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

th, td {
    border-bottom: 1px solid red;
}

th{
  background: #fa0200;
}

.item-description{
  margin-top: 20px;
}

.item-description fieldset {
  margin-bottom: 15px;
}

fieldset p {
  margin-left: 10px;
}

fieldset *{
  margin-bottom: 5px;
}

.add-item-btn,
.adding-item-form input[type = "submit"] {
    background: #fa0200;
    color: #f1f1f1;
    border: 2px solid #fa0200;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.add-item-btn:hover,
.adding-item-form input[type = "submit"]:hover {
  color: #fa0200;
  background: #f1f1f1;
  border: 2px solid #f1f1f1;
}

.adding-item-form {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    align-items: center;
    position: relative;
    z-index: -1;
    top: -40px;
    left: 0px;
}

.input-field input {
  max-width: 50px;
}

.item-header {
  position: absolute;
  padding: 10px;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  margin-top: 15px;
}

.item-form {
  display: contents;
}

legend i {
  cursor: pointer;
}

.created-input {
  border: none;
  outline: none;
  max-width: 100px;
  color: red;
  height: 25px;
  padding-left: 5px;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
}

.additional-tab {
  display: none;
  width: 100%;
}

th i {
  cursor: pointer;
}

.add-btn {
  display: none;
}

.item-info-div {
  margin-top: 30px;
}

@media screen and (max-width: 600px){
  *{
    font-size: 0.97em;
  }

  footer {
    display: none;
  }

  .basic-options {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row-reverse;
  }

  #ret-btn,
  #home-btn {
    width: 50vw;
    height: 50px;
    border-radius: 0px;
  }

  .item-info-div {
    max-width: 90%;
    margin-top: 25px;
  }

  .add-btn {
    display: block;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 50%;
    transform: translate(50%,-50%);
    padding: 15px;
    background: #fa0200;
    color: #f1f1f1;
  }

  table {
    width: 100%;
  }

  table,th,td {
    padding: 5px;
  }
}
