table, th, td {
  border-bottom: 1px solid red;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

th{
  background: #fa0200;
}

.item-description{
  margin-top: 30px;
}

.item-description fieldset {
  margin-bottom: 15px;
}

fieldset p {
  margin-left: 10px;
}

fieldset *{
  margin-bottom: 5px;
}

.add-link {
  color: #fa0200;
}
