table, th, td {
  border-bottom: 1px solid red;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

th{
  background: #fa0200;
}

.item-description{
  margin-top: 30px;
}

.item-description fieldset {
  margin-bottom: 15px;
}

fieldset p {
  margin-left: 10px;
}

fieldset *{
  margin-bottom: 5px;
}

.add-item-btn,
.adding-item-form input[type = "submit"] {
    background: #fa0200;
    color: #f1f1f1;
    border: 2px solid #fa0200;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.add-item-btn:hover,
.adding-item-form input[type = "submit"]:hover {
  color: #fa0200;
  background: #f1f1f1;
  border: 2px solid #f1f1f1;
}

.adding-item-form {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    align-items: center;
    position: relative;
    z-index: -1;
    top: -40px;
    left: 0px;
}

.input-field input {
  max-width: 50px;
}

.item-header {
  position: absolute;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.item-form {
  display: contents;
}

legend i {
  cursor: pointer;
}

.created-input {
  border: none;
  outline: none;
  margin-left: 10px;
  color: red;
  height: 25px;
  padding-left: 5px;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
}

th i {
  cursor: pointer;
}
