* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu",sans-serif;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  position: relative;
}

a {
  color: #f1f1f1;
}

a i{
  padding-left: 5px;
}

.error {
    text-align: center;
    color: red;
    background: rgba(12,12,12,0.8);
    padding-top: 10px;
    font-weight: bold;
    font-size: x-large;
}

::placeholder {
  color: #676767;
  opacity: 1;
}

.textbox {
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.menu {
  position: absolute;
  z-index: 2;
  top: 0px;
  height: 100vh;
  right: 20px;
  color: #fa0200;
  transition: all .3s ease-in-out;
  transform-origin: bottom left;
}

.menu-block {
  position: absolute;
  z-index: 2;
  top: 0px;
  height: 100vh;
  right: -420px;
  background: #fa0200;
  color: #f1f1f1;
  width: 400px;
}

#menu-icon {
  padding-top: 20px;
  cursor: pointer;
}

.menu-block h1 {
  padding: 20px 0px 0px 20px;
}

.log-text {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.log-text p {
  padding-left: 5px;
  font-family: "Brush Script MT";
}

.advanced-search {
  display: flex;
  margin: 10px 0px;
  width: 100%;
  padding-right: 20px;
  flex-direction: row-reverse;
}

.advanced-search a {
  width: fit-content;
}

.pedoEasterEgg {
  position: absolute;
  right: -310px;
  z-index: -1;
  transition: all 1s ease-in-out;
  transform-origin: top left;
}

.micheEasterEgg {
    position: absolute;
    transition: all 1s ease-in-out;
    transform-origin: top left;
    max-height: 100vh;
    z-index: -1;
    right: -645px;
}

.second-easteregg {
  position: absolute;
  left: 0px;
  cursor: pointer;
  display: none;
  transition: all 1s ease-in-out;
}

#miche {
  max-height: inherit;
  max-width: 625px;
}

#second-easteregg {
  padding: 10px;
}

#menu-link{
  text-align: left;
}
