* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu",sans-serif;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  position: relative;
  background-image: url(../images/backgrounds/bg1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: #f1f1f1;
}

a i{
  padding-left: 5px;
}

.section-title{
  padding: 10px 0px 10px 0px;
}

.error {
    text-align: center;
    color: red;
    background: rgba(12,12,12,0.8);
    padding-top: 10px;
    font-weight: bold;
    font-size: x-large;
    height: 50px;
}

::placeholder {
  color: #676767;
  opacity: 1;
}

.textbox {
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.menu {
  position: absolute;
  z-index: 2;
  top: 0px;
  height: 100vh;
  right: 20px;
  color: #fa0200;
  transition: all .3s ease-in-out;
  transform-origin: bottom left;
}

.menu-block {
  position: absolute;
  z-index: 2;
  top: 0px;
  height: 100vh;
  right: -420px;
  background: #fa0200;
  color: #f1f1f1;
  width: 400px;
}

#menu-icon {
  padding-top: 20px;
  cursor: pointer;
}

.menu-block h1 {
  padding: 20px 0px 0px 20px;
}

.log-text {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.log-text p {
  padding-left: 5px;
  font-family: "Brush Script MT";
}

.pedoEasterEgg {
  position: absolute;
  right: -310px;
  z-index: -1;
  transition: all 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transform-origin: top left;
}

.micheEasterEgg {
    position: absolute;
    transition: all 1s ease-in-out;
    transform-origin: top left;
    max-height: 100vh;
    z-index: -1;
    right: -645px;
}

.second-easteregg {
  position: absolute;
  left: 0px;
  cursor: pointer;
  display: none;
  transition: all 1s ease-in-out;
}

.advanced-search {
  display: flex;
  margin: 10px 0px;
  width: 100%;
  padding-right: 20px;
  flex-direction: row-reverse;
}

.advanced-search a {
  width: fit-content;
}

.red-btn{
  top: 10px;
  left: 10px;
  color: #f1f1f1;
  padding: 5px;
  border: solid 2px #fa0200;
  border-radius: 10px;
  background: #fa0200;
  transition: all .3s ease-in-out;
}

.red-btn:hover{
  color: #fa0200;
  background: #f1f1f1;
  border: 2px solid #f1f1f1;
  cursor: pointer;
}

.icon-flip-inner {
  width: 20px;
  position: relative;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.icon-div:hover .icon-flip-inner {
  transform: rotateY(180deg);
}

.icon-awsme, .icon-image {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.icon-image {
  transform: rotateY(180deg);
}

.filter-sets fieldset {
  max-height: 150px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fa0200;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

#miche {
  max-height: inherit;
  max-width: 625px;
}

#second-easteregg {
  padding: 10px;
}

#menu-link{
  text-align: left;
}

#return-btn{
  position: absolute;
}

#home{
  padding: 10%;
  height: 100vh;
  min-height: 500px;
  background-image: url(../images/backgrounds/bg1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#kube-egg {
  max-width: 20px;
}

#home .inner-width{
  position: relative;
  background: rgba(12,12,12,0.6);
  color: #f1f1f1;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}
