.find-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

::-webkit-progress-value {
  background-color: #f1f1f1;
}

.text-input{
  width: 80%;
  margin: 15px 0px 0px 15px;
  display: flex;
  border-radius: 10px;
}

.searching-bar{
  width: 100%;
  height: 40px;
}

.searching-bar input{
  width: inherit;
  height: inherit;
  color: #fa0200;
  outline: none;
  background: #fff;
  text-align: left;
  border: none;
  padding-left: 5px;
  border-radius: 0px 10px 10px 0px;
}

.icon-div{
  height: 40px;
  background: #fa0200;
  padding: 10px 12px 10px 10px;
  border-radius: 10px 0px 0px 10px;
}

.find-content form{
  display: flex;
  flex-direction: row;
}

section{
  padding: 100px 0;
  background-color: #f1f1f1;
}

.section-title{
  text-align: center;
  position: relative;
  font-size: 1em;
  padding: 10px 0px 10px 0px;
}

.result-div {
  border: 1px solid #f1f1f1;
  padding: 3px;
  display: none;
}

.result-div ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.result-div ul li {
  padding: 5px 0;
}

.result-div ul li:hover {
  background: #eee;
  color: #202020;
}

#find-submit{
  padding: 10px;
  margin: 15px 0px 0px 15px;
  border-radius: 10px;
  border: none;
  width: 80px;
}

#find-submit:enabled{
  background: #fa0200;
  color: #f1f1f1
}

#find-label p{
  padding: 10px;
}

#home{
  padding: 10%;
  height: 100vh;
  min-height: 500px;
  background-image: url(../images/backgrounds/bg1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#home .inner-width{
  background: rgba(12,12,12,0.6);
  color: #f1f1f1;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}

#easter-egg{
  max-width:100%;
  max-height:100%;
}
