.find-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

::-webkit-progress-value {
  background-color: #f1f1f1;
}

.text-input{
  width: 80%;
  display: flex;
  border-radius: 10px;
  align-items: center;
}

.searching-bar{
  width: 100%;
  height: 40px;
}

.searching-bar input{
  width: inherit;
  height: inherit;
  color: #fa0200;
  outline: none;
  background: #fff;
  text-align: left;
  border: none;
  padding-left: 5px;
  border-radius: 0px 10px 10px 0px;
}

.icon-div{
  height: 40px;
  background: #fa0200;
  padding: 10px 12px 10px 10px;
  border-radius: 10px 0px 0px 10px;
}

.find-content form{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

section{
  padding: 100px 0;
  background-color: #f1f1f1;
}

.result-div {
  position: relative;
  z-index: 2;
  border: 1px solid #f1f1f1;
  padding: 3px;
  display: none;
  color: #fa0200;
  background: #fff;
  border-radius: 0px 0px 10px 0px;
}

.result-div ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.result-div ul li {
  padding: 5px 0;
}

.result-div ul li:hover {
  background: #fa0200;
  color: #fff;
}

.user-panel{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.card{
  width: 250px;
  height: 150px;
  border: solid red 3px;
  border-radius: 10px;
  margin: 10px 15px;
  padding: 5px;
}

.card h2{
  text-transform: uppercase;
}

#find-submit{
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 80px;
  background: #fa0200;
  color: #f1f1f1;
  cursor: pointer;
  height: 40px;
  transition: all .2s ease-in-out;
}

#find-submit:hover{
  background: #f1f1f1;
  color: #fa0200;
}

#find-label p{
  padding: 10px;
}

#easter-egg{
  max-width:100%;
  max-height:100%;
}
