.find-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inner-header{
  margin-top: 40px;
}

.inner-header img{
  width: 100%;
}

::-webkit-progress-value {
  background-color: #f1f1f1;
}

.text-input{
  width: 80%;
  margin-top: 15px;
  display: flex;
  border-radius: 10px;
}

.text-input input{
  width: 100%;
  color: #fa0200;
  outline: none;
  background: #fff;
  text-align: left;
  border: none;
  padding-left: 5px;
  border-radius: 0px 10px 10px 0px;
}

.icon-div{
  background: #fa0200;
  padding: 10px 12px 10px 10px;
  border-radius: 10px 0px 0px 10px;
}

.find-content form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#find-submit{
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  width: 80px;
}

#find-submit:enabled{
  background: #fa0200;
  color: #f1f1f1
}

#find-label p{
  padding: 10px;
}

#home{
  padding: 10%;
  height: 100vh;
  min-height: 500px;
  background-image: url(../images/backgrounds/bg1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#home .inner-width{
  background: rgba(12,12,12,0.6);
  color: #f1f1f1;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}

section{
  padding: 100px 0;
  background-color: #f1f1f1;
}

.section-title{
  text-align: center;
  position: relative;
  font-size: 26px;
  padding: 20px 0px 20px 0px;
}
