<div class="js-error-div" id="js-error-div">

</div>
<div class="inner-width">
  <h1>Dodaj element</h1>
  <button type="button" class="red-btn" id="return-btn" onclick="location.href='/'"><i class="fa-solid fa-people-pulling"></i> Powrót</button>
  <% unless item.nil? %>
    <%= erb :element_tab_partial, locals: {item: item} %>
  <% else %>
  <div class="new-item-main-div">
    <form class="new-item-form" action="create-new-item" method="post">
      <div class="field1">
        <fieldset>
          <legend>Dodaj do tabeli <p class="red-flag">*</p></legend>
          <%= erb :filter_partial %>
          <div class="radio-type-filter" id="new-type-div">
            <input type="radio" name="new-item-checkbox" id="new-type" value="create-type">
            <label for="new-type">Nowy typ</label>
          </div>
          <textarea id="input-type-name" name="new-type-name" placeholder="Wpisz nazwę" rows="2" cols="16" disabled></textarea>
        </fieldset>
      </div>
      <div class="field2">
        <fieldset>
          <legend>Nazwa <p class="red-flag">*</p></legend>
          <textarea name="new-item-name" placeholder="Pole obowiązkowe" rows="2" cols="16"></textarea>
        </fieldset>
      </div>
      <div class="field3">
        <fieldset>
          <legend>Ilość <p class="red-flag">*</p></legend>
          <textarea name="new-item-quantity" placeholder="Pole obowiązkowe" rows="2" cols="16"></textarea>
        </fieldset>
      </div>
      <div class="field4">
        <fieldset>
          <legend>ID</legend>
          <textarea name="new-item-localid" id="localid-input" placeholder="Unikatowe ID" disabled rows="2" cols="16"></textarea>
          <div class="one-line-checkbox">
            <input type="checkbox" id="localid-checkbox" checked>
            <label for="ID_select">AutoID</label>
          </div>
        </fieldset>
      </div>
      <div class="field5">
        <fieldset>
          <legend>Wartość</legend>
          <textarea name="new-item-value" placeholder="Np. 1k, 5uF" rows="2" cols="16"></textarea>
        </fieldset>
      </div>
      <div class="field6">
        <fieldset>
          <legend>Opis</legend>
          <textarea name="new-item-description" placeholder="Może być puste" rows="2" cols="16"></textarea>
        </fieldset>
      </div>
      <div class="field7">
        <fieldset>
          <legend>Nota Katalogowa</legend>
          <textarea name="new-item-datasheet" placeholder="https://nota-tylko.link" rows="2" cols="16"></textarea>
        </fieldset>
      </div>
      <div class="field8">
        <fieldset>
          <legend>Lokalizacja</legend>
          <select name="new-item-location" id="location-id">
            <option value="">--brak lokalizacji--</option>
            <% $locationsDB.all.each do |element| %>
              <option value="<%= element[:name] %>"><%= element[:name] %></option>
            <% end %>
          </select>
        </fieldset>
      </div>
      <div class="field9">
        <fieldset>
          <legend>Jednostka</legend>
          <textarea name="new-item-unit" id="unit-input" placeholder="Bez przedrostka SI" disabled rows="2" cols="16"></textarea>
          <div class="one-line-checkbox">
            <input type="checkbox"id="unit-checkbox" checked>
            <label for="unit-select">AutoUnit</label>
          </div>
        </fieldset>
      </div>
      <input type="submit" id="new-item-submit" class="red-btn" value="Dodaj">
    </form>
  </div>
  <% end %>
</div>
