<img src="/images/plan.png" alt="error">
<a href="/find?loc=drukarnia"><div class="hotspot drukarnia" text="Drukarnia"></div></a>
<a href="/find?loc=rowerownia"><div class="hotspot rowerownia" text="Rowerownia"></div></a>
<a href="/find?loc=szafa"><div class="hotspot szafa" text="Szafa"></div></a>
<a href="/find?loc=ciapciak"><div class="hotspot ciapciak" text="Ciapciak"></div></a>
<a href="/locations?loc=warsztatmech"><div class="hotspot warsztatmech" text="Warsztat mech."></div></a>
<a href="/locations?loc=warsztatel"><div class="hotspot warsztatel" text="Warsztat el."></div></a>
