<div class="inner-width">
  <div class="item-header">
    <button type="button" class="red-btn" onclick="history.back()"><i class="fa-solid fa-people-pulling"></i> Powrót</button>
    <div class="admin-options">
      <button type="button" class="red-btn">Usuń <i class="fa-solid fa-person-falling-burst"></i></button>
    </div>
  </div>
  <div class="section-title">
    <% unless item.nil? %>
      <h1><%= item[:name] %></h1>
    <% end %>
  </div>
  <% unless item.nil? %>
  <div class="item-info-div">
    <%= erb :element_tab_partial, locals: {item: item} %>
    <div class="item-description">
      <fieldset>
        <legend>Opis <i class="fa-solid fa-pen-to-square" id="description"></i></legend>
        <p class="description"><%= item[:description] %></p>
      </fieldset>
      <fieldset>
        <legend>Nota katalogowa lub strona producenta <i class="fa-solid fa-pen-to-square" id="datasheet"></i></legend>
        <% if !item[:datasheet].nil? %>
          <p><a href="<%= item[:datasheet] %>" target="_blank" class="datasheet"><i class="fa-solid fa-file-pdf"></i> Link</a></p>
        <% end %>
      </fieldset>
      <button type="button" name="button" class="add-item-btn">Zapisz <i class="fa-regular fa-floppy-disk"></i></button>
    </div>
  </div>
  <% end %>
</div>
