<% $elementsDB.select(:elementtype).uniq.each do |elem| %>
  <div class="radio-type-filter">
    <input type="radio" id="<%= elem[:elementtype] %>" name="element" value="<%= elem[:elementtype] %>" <% if params[:element] == elem[:elementtype] %> checked <% end %> disabled>
    <label for="resistors"><%= elem[:elementtype].gsub("_"," ") %></label>
  </div>
<% end %>
