<div class="radio-table-filter">
  <input type="radio" id="<%= table %>" name="element" value="<%= table %>" <% if params[:element] == table %> checked <% end %> disabled>
  <label for="resistors"><%= text %></label>
</div>
