<div class="login-Form">
  <form class="box" action="/login" method="post">
    <a href="/login"><h1>Login <i class="fa-solid fa-lock"></i></h1></a>
    <div class="textbox">
      <div class="icon-div">
        <i class="fa-solid fa-user" id="textbox-icon"></i>
      </div>
      <input type="text" name="username" placeholder="Nazwa użytkownika">
    </div>
    <div class="textbox">
      <div class="icon-div">
        <i class="fa-solid fa-lock" id="textbox-icon"></i>
      </div>
      <input type="password" name="password" placeholder="Hasło">
    </div>
    <input type="submit" name="LogMeIn" value="Login">
  </form>
</div>
