  <div class="site">
    <% if @error %>
      <p class="error"><%= @error %></p>
    <% end %>
    <div class="login-window">
      <a href="/" class="back-link">Powrót</a>
      <%= erb :login_partial %>
    </div>
  </div>
