  <div class="site">
    <div class="login-window">
      <button type="button" class="red-btn" id="return-btn" onclick="history.back()"><i class="fa-solid fa-people-pulling"></i> Powrót</button>
      <%= erb :login_partial %>
    </div>
  </div>
