<div class="inner-width">
  <h1>Nowa lokalizacja</h1>
  <form class="add-location-form" action="/new-location" method="post">
    <p>Wybierz miejsce</p>
    <select name="parent-location" id="location-id">
      <% $locationsDB.where(:parentname => "").all.each do |element| %>
        <option value="<%= element[:name] %>"><%= element[:name] %></option>
      <% end %>
    </select>
    <p>Nazwa</p>
    <input type="text" name="location-name" placeholder="Nazwa">
    <p>Opis</p>
    <input type="text" name="location-description" placeholder="Opis">
    <input type="submit" class="red-btn" value="Dodaj">
  </form>
</div>
