<div class="inner-width">
  <div class="mdiv">
    <h1>Zagadka</h1>
    <form class="rafe-form" action="/prezent" method="post">
      <p>Znajdź taką liczbę naturalną n, taka że n jest równocześnie kwadratem i sześcianem jakiejś liczby naturalnej.</p>
      <input type="text" name="answer" placeholder="xxx">
      <input type="submit" value="Sprawdź">
    </form>
  </div>
</div>
