<button type="button" class="red-btn" id="return-btn" onclick="history.back()"><i class="fa-solid fa-people-pulling"></i> Powrót</button>
<img src="/images/warsztatmech.jpg" alt="error">
<a href="/find?loc=warsztatmecha1"><div class="hotspot warsztatmecha1" text="A1"></div></a>
<a href="/find?loc=warsztatmecha2"><div class="hotspot warsztatmecha2" text="A2"></div></a>
<a href="/find?loc=warsztatmecha3"><div class="hotspot warsztatmecha3" text="A3"></div></a>
<a href="/find?loc=warsztatmecha4"><div class="hotspot warsztatmecha4" text="A4"></div></a>
<a href="/find?loc=warsztatmechb1"><div class="hotspot warsztatmechb1" text="B1"></div></a>
<a href="/find?loc=warsztatmechb2"><div class="hotspot warsztatmechb2" text="B2"></div></a>
<a href="/find?loc=warsztatmechb3"><div class="hotspot warsztatmechb3" text="B3"></div></a>
<a href="/find?loc=warsztatmechb4"><div class="hotspot warsztatmechb4" text="B4"></div></a>
<a href="/find?loc=warsztatmechc1"><div class="hotspot warsztatmechc1" text="C1"></div></a>
<a href="/find?loc=warsztatmechc2"><div class="hotspot warsztatmechc2" text="C2"></div></a>
<a href="/find?loc=warsztatmechc3"><div class="hotspot warsztatmechc3" text="C3"></div></a>
<a href="/find?loc=warsztatmechc4"><div class="hotspot warsztatmechc4" text="C4"></div></a>
<a href="/find?loc=warsztatmechd1"><div class="hotspot warsztatmechd1" text="D1"></div></a>
<a href="/find?loc=warsztatmechd2"><div class="hotspot warsztatmechd2" text="D2"></div></a>
<a href="/find?loc=warsztatmechd3"><div class="hotspot warsztatmechd3" text="D3"></div></a>
<a href="/find?loc=warsztatmechd4"><div class="hotspot warsztatmechd4" text="D4"></div></a>
