<section id="home">
  <% if @error %>
    <p class="error"><%= @error %></p>
  <% end %>
  <div class="inner-width">
    <div class="section-title">
      <h1>Stany magazynowe</h1>
    </div>
    <div class="find-content">
      <form action="/quick" name="find-form" method="post" autocomplete="off">
          <div class="text-input">
            <div class="icon-div">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="searching-bar">
              <input type="text" id="search-input" name="search-input" placeholder="Enter Key">
              <div id="result-div" class="result-div"></div>
            </div>
          </div>
          <input type="submit" value="Szukaj" id="find-submit" name="submit">
        </form>
    </div>
  </div>
</section>
