<section id="home">
  <% if @error %>
    <p class="error"><%= @error %></p>
  <% end %>
  <div class="inner-width">
    <div class="upload-content">
      <form action="/find" name="upload-form" method="post" onchange="return sendForm()" enctype="multipart/form-data">
          <div class="text-input">
            <div class="icon-div">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <input type="text" name="serch_val" placeholder="Enter Key">
          </div>
          <input type="submit" value="Find" id="find-submit" name="submit" disabled>
        </form>
    </div>
  </div>
</section>

<script>
  function _(el){
   return document.getElementById(el);
}

  function sendForm(){
    var x = document.forms["upload-form"]["serch_val"].value;
    if (x == "" || x == null) {
      alert("Complete all fields of the form.");
      return false;
    }
    _("find-submit").disabled = false;
    return true;
  }

/*
  document.getElementById("file-to-upload").onchange = function () {
    var file = _("file-to-upload").files[0];
    var formdata = new FormData();
    formdata.append("file", file);
    var ajax = new XMLHttpRequest();
    ajax.upload.addEventListener("progress", progressHandler, false);
    ajax.addEventListener("load", completeHandler, false);
    ajax.open("POST", "/upload-file"); // http://www.developphp.com/video/JavaScript/File-Upload-Progress-Bar-Meter-Tutorial-Ajax-PHP
    ajax.send(formdata);
    */
</script>
