<div class="inner-width">
  <%= erb :searching_input_partial %>
  <div class="advanced-search">
    <a href="/find">Zaawansowane<i class="fa-brands fa-searchengin"></i></a>
  </div>
  <% if !current_user %>
    <div class="login-window">
        <%= erb :login_partial %>
    </div>
  <% else %>
    <div class="user-panel">
      <a href="/add-element"><div class="card">
        <div class="big-icon">
          <h1><i class="fa-solid fa-circle-plus fa-2xl"></i></h1>
        </div>
        <h2>Dodaj</h2>
        <div class="inner-card">
          <p class="secondary">Nowy element</p>
          <button class="inverse-btn"><i class="fa-solid fa-circle-plus"></i> Dodaj</button>
        </div>
      </div></a>
      <a href="/locations"><div class="card">
        <div class="big-icon">
          <h1><i class="fa-solid fa-location-crosshairs fa-2xl"></i></h1>
        </div>
        <h2>Lokalizacje</h2>
        <div class="inner-card">
          <p class="secondary">Pokaż wszystkie</p>
          <button class="inverse-btn"><i class="fa-solid fa-location-crosshairs"></i> Pokaż</button>
        </div>
      </div></a>
    </div>
  <% end %>
</div>
