<div class="inner-width">
  <div class="mdiv">
    <h1>Gratulacje !</h1>
    <p>Terrorysto, w nagrodę możesz bezpiecznie używać swojego pendrive'a.<br>
    Nagrodę możesz odebrać: nigdzie, w terminie: nigdy.<br>
    Wesołych świąt i wszystkiego dobrego w nowym roku.</p>
  </div>
</div>
